.create-post-container {
  width: 520px;
  height: 720px;
  background-color: #f2e9e4; /* Пастельный светлый фон */
  border-radius: 25px; /* Более закругленные края */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Больше отступов для более удобного оформления */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

h2 {
  margin-bottom: 3rem;
  color: #3d405b; /* Мягкий темный цвет для заголовка */
}

.label-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  font-weight: 700;
  color: #3d405b; /* Пастельный темный цвет */
  width: 100%; /* Увеличенная ширина для адаптивности */
}

form input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px; /* Более закругленные поля */
  border: 1px solid rgba(100, 100, 100, 0.4); /* Мягкая граница */
  background-color: #ffffff; /* Белый фон для полей */
  color: #3d405b;
}

.post-title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.post-title-container textarea {
  padding: 10px;
  margin: 5px 0;
  border-radius: 15px;
  border: 1px solid rgba(100, 100, 100, 0.4);
  background-color: #ffffff; /* Белый фон */
  color: #3d405b;
}

.post-textarea {
  padding: 12px;
  border-radius: 15px; /* Более округлые поля */
  border: 1px solid rgba(100, 100, 100, 0.4);
  background-color: #ffffff;
  color: #3d405b;
}

.img-button-container {
  display: flex;
  justify-content: flex-end;
}

.add-image-button {
  margin-top: 1rem;
  background-color: #81b29a; /* Пастельный зеленый цвет для кнопки */
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 25px; /* Полностью округленные кнопки */
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.add-image-button:hover {
  background-color: #405c2d; /* Темный оттенок зеленого при наведении */
}

.add-post-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.add-post-button {
  width: 100%;
  height: 50px;
  padding: 15px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background-color: #81b29a; /* Пастельный зеленый */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.add-post-button:hover {
  background-color: #405c2d;
}

.add-category-container {
  display: flex;
  justify-content: flex-end;
}

.add-category-btn {
  margin-top: 1rem;
  background-color: #81b29a; /* Пастельный зеленый */
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 25px; /* Полностью округленные кнопки */
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.add-category-btn:hover {
  background-color: #405c2d; /* Темный оттенок при наведении */
}
