* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #3e2723; 
  --primary-color: #a3c4bc; 
  --background-secondory: #e07a5f; 
  --border-color: rgba(140, 140, 140, 0.4); 
  --text-color: #ffffff; 
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif; 
  color:#0e3114;
  position: relative;
}

.container {
  position: relative;
  display: flex;
  width: 960px; 
  margin: 0 auto;
  padding: 30px; 
  top: 50px; 
  border-radius: 20px; 
  background-color: #3e2723; 
}

.container::-webkit-scrollbar {
  display: none;
}

.root {
  position: relative;
}

.post-link {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 8px; 
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 12px; 
}

body::-webkit-scrollbar-track {
  background-color: var(--background-secondory);
  border-radius: 12px;
}

.users-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1080px) {
  .filter {
    width: 28%; 
  }
}

@media screen and (max-width: 900px) {
  .filter {
    width: 40%; 
  }
}

@media screen and (max-width: 680px) {
  * {
    margin: 0;
  }
  
  .filter {
    width: 100%;
    margin: 0;
    left: 0;
    top: 45px;
    position: absolute;
    background-color: var(--background-secondory); 
    padding: 15px;
    border-radius: 15px; 
  }

  .container {
    display: flex;
    flex-direction: column; 
    margin: 0;
    padding: 10px; 
  }

  .post-feed {
    width: 100%;
    position: relative;
    top: 65px;
    margin: 0;
  }

  .post {
    width: 100%;
    margin-top: 10px; 
    padding: 20px;
    background-color: #f2f2f2; 
    border-radius: 10px; 
  }

  .user-list {
    display: none;
  }
}
